@import "App.scss";


.product {
    display: flex;
    gap: 1.5rem;

    width: 100%;
    height: calc(100% - 5rem);

    padding: 2rem;

    &_detail {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        width: 60%;
        height: 100%;

        padding: 2rem;
        border-radius: .5rem;
        background-color: white;
        box-shadow: 0 0 4px rgba($color: #000000, $alpha: .2);
        overflow-y: scroll;
    }

    &_list{
        width: 40%;
        height: 100%;
        overflow-y: scroll;
    }
}